#create-profile-grandparent {
  display: table;
  height: 100%;
  margin: 0 auto;
}

#create-profile-parent {
  display: table-cell;
  vertical-align: middle;
}

#create-profile-card {
  width: 300px;
}
