<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>{{ activeProfileFirstName }}'s Budget</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="danger" (click)="signOut()"
        >Sign Out</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-buttons>
    <!-- open material angular dialog for creating a new weekly budget -->
    <div>
      <ion-button fill="solid" color="tertiary" (click)="openDialog()">
        Open Budget Form
      </ion-button>
    </div>
  </ion-buttons>
</ion-content>
