<!-- Old form style, keeping to compare old/new -->
<!-- <h2 mat-dialog-title>New Weekly Budget</h2>
<mat-dialog-content>
  <form #form="ngForm" (ngSubmit)="submit(form.value)">
    <br />
    <label for="startingDate">Starting Date</label>
    <input type="date" name="startingDate" ngModel /><br />
    <label for="spendingLimit">Spending Limit</label>
    <input type="number" name="spendingLimit" ngModel /><br />
    <label for="carryOver">Carry Over</label>
    <input type="number" name="carryOver" ngModel /><br />
    <label for="tempSavingsAmount">Temp. Savings Amount</label>
    <input type="number" name="tempSavingsAmount" ngModel /> <br />
    <button>Submit</button>
  </form>
</mat-dialog-content> -->

<div class="form-background">
  <div class="border">
    <form #budgetForm="ngForm" (ngSubmit)="submit(budgetForm)">
      <h1 class="text-center">New Weekly Budget</h1>
      <hr />
      <div class="form-field">
        <label for="startingDate">Starting Date:</label> <br />
        <input
          type="date"
          name="startingDate"
          placeholder="Starting Date"
          ngModel
        /><br />
      </div>
      <div class="form-field">
        <input
          type="number"
          name="spendingLimit"
          placeholder="Spending Limit"
          ngModel
        /><br />
      </div>
      <div class="form-field">
        <input
          type="number"
          name="carryOver"
          placeholder="Carry Over"
          ngModel
        /><br />
      </div>
      <div class="form-field">
        <input
          type="number"
          name="tempSavingsAmount"
          placeholder="Temp Savings"
          ngModel
        />
        <br />
      </div>
      <div>
        <ion-button type="submit" id="submit"> Submit </ion-button>
      </div>
    </form>
  </div>
</div>
