<div class="form-background">
  <div class="border">
    <form #budgetForm="ngForm" (ngSubmit)="submit(budgetForm)">
      <h1 class="text-center">New Weekly Budget</h1>
      <hr />
      <div class="form-field">
        <label for="startingDate">Starting Date:</label> <br />
        <input
          type="date"
          name="startingDate"
          placeholder="Starting Date"
          ngModel
        /><br />
      </div>
      <div class="form-field">
        <span>$</span>
        <input
          type="number"
          name="spendingLimit"
          placeholder="Spending Limit"
          ngModel
        /><br />
      </div>
      <div class="form-field">
        <span>$</span>
        <input
          type="number"
          name="carryOver"
          placeholder="Carry Over"
          ngModel
        /><br />
      </div>
      <div class="form-field">
        <span>$</span>
        <input
          type="number"
          name="tempSavingsAmount"
          placeholder="Temp Savings"
          ngModel
        />
        <br />
      </div>
      <div>
        <ion-button type="submit" id="submit"> Submit </ion-button>
      </div>
    </form>
  </div>
</div>
