<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="budget">
        <ion-label>Budget</ion-label>
        <ion-icon name="cash"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="tasks">
        <ion-label>Tasks</ion-label>
        <ion-icon name="checkbox"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>