ion-grid {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 5px;
}

mat-card {
  background-color: #1f1f1f;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

mat-card-actions {
  justify-content: right;
  display: flex;
  margin-right: 0px;
}

mat-card-content {
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}

// Unused card element, margin is removed.
:host ::ng-deep .mat-card-header-text {
  margin: 0px !important;
}

mat-card-title {
  color: white;
}

mat-card-title.right {
  text-align: right;
}

mat-progress-bar {
  height: 20px;
}
