<mat-card>
  <mat-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- Aligned left, showing starting date. -->
          <mat-card-title>{{ budget.dateDisplay }}</mat-card-title>
        </ion-col>
        <ion-col>
          <!-- Aligned right, displays money spent / total. -->
          <mat-card-title class="right">
            ${{ budget.currentSpending }} / ${{ budget.spendingLimit }}
          </mat-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </mat-card-header>
  <!-- A progress bar displaying spent / total. -->
  <mat-card-content>
    <mat-progress-bar
      mode="determinate"
      value="{{ (budget.currentSpending / budget.spendingLimit) * 100 }}"
      color="primary"
    >
    </mat-progress-bar>
  </mat-card-content>
  <mat-card-actions>
    <!-- Button to open detail view for card. -->
    <ion-button
      fill="solid"
      color="tertiary"
      style="justify-content: right"
      (click)="onExpandCard()"
      >Expand Card</ion-button
    >
  </mat-card-actions>
</mat-card>
