<ion-header [translucent]="true">
  <!-- [] todo: set up app wide color scheme  -->
  <ion-toolbar color="tertiary">
    <ion-title>
      Homepage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="homepage-text">
    <strong>Welcome to Angular Achiever Home Page!</strong>
  </div>
  <div id="buttons-positioning">
    <div id="homepage-button">
      <ion-button routerLink="/sign-in" size="Large" color="tertiary">Sign In!</ion-button>
    </div>
    <div id="homepage-button">
      <ion-button routerLink="/create-profile" size="Large" color="tertiary">Create A Profile!</ion-button>
    </div>
  </div>


</ion-content>