#homepage-text {
  text-align: center;

  position: relative;
  left: 0;
  right: 0;
  top: 30%;
}
#homepage-button {
  text-align: center;
}

#buttons-positioning {
  position: absolute;
  left: 0;
  right: 0;
  top: 65%;
}
