<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>{{ activeProfile.fname }}'s Budget</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="danger" (click)="signOut()"
        >Sign Out</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isMobile">
    <app-budget-list></app-budget-list>
  </div>
  <div *ngIf="isWeb">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="6">
          <app-budget-list></app-budget-list>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- TODO [] set up web vs mobile view -->
  <!-- web view creates 3 columns center column has cards -->
  <!-- web view has add new budget button in column while mobile has fab -->
  <!-- <app-budget-list></app-budget-list> -->

  <div>
    <!-- open material angular dialog for creating a new weekly budget -->
    <!-- TODO [] improve fab styling -->
    <!-- make it bigger, fix the color, move to right side, make it float above cards -->
    <button mat-fab color="primary" (click)="openDialog()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
</ion-content>
