<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Welcome {{ activeProfile.fname }}!</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="danger" (click)="signOut()"
        >Sign Out</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-buttons>
    <div id="home-tab-test-button">
      <ion-button fill="solid" color="tertiary">
        Test send active profile to lambda
      </ion-button>
    </div>
  </ion-buttons>
</ion-content>
